.idea/*
cmake-build-debug/*
docs/*
containers.a
containers.so
CMakeCache.txt
CMakeFiles/*
Containers
ContainersTestDebug
ContainersTestOptimized
ContainersTestCoverage
Containers.cbp
cmake_install.cmake
