version: 2
jobs:
  build:
    docker:
      - image: mickare/cmake-clang
    steps:
      - checkout
      - run: cmake -DCMAKE_BUILD_TYPE=Debug -G "CodeBlocks - Unix Makefiles" .
      - run: cmake --build . --target Containers -- -j 2
      - run: ./Containers
workflows:
  version: 2
  build_and_test:
    jobs:
      - build

