name: build
on: [push]
jobs:
  debug:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
    - run: make test_debug
    - run: ./ContainersTestDebug
  optimized:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
    - run: make test_optimized
    - run: ./ContainersTestOptimized
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: make test_coverage
    - run: ./ContainersTestCoverage
    - run: bash <(curl -s https://codecov.io/bash)
  valgrind:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: sudo apt install -y valgrind
    - run: make test_valgrind
    - run: valgrind --leak-check=full --error-exitcode=1 ./ContainersTestValgrind
