name: build
on: [push]
jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: make test_debug
    - run: ./ContainersTestDebug
  optimized:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: make test_optimized
    - run: ./ContainersTestOptimized
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: make test_coverage
    - run: ./ContainersTestCoverage
    - run: bash <(curl -s https://codecov.io/bash)
  valgrind:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: sudo apt install -y valgrind
    - run: make test_valgrind
    - run: valgrind --leak-check=full ./ContainersTestValgrind | grep -q "0 errors from 0 contexts" || exit 1
